.cardFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0%;
    font-size: small;
}


p {
    margin: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.fiveCard {
    background: "#EDFA8B";
    width: 100%;
    max-width: 600px;
    line-height: 1.5rem;
    box-shadow: "5px 5px 5px 0px rgba(0,0,0,0.5)";
}

.fiveCardContent {
    margin-top: "5px";
    padding-top: "2px";
    padding-bottom: "0px";
}

.fiveCardContentModal {
    padding-top: "0px"; 
    padding-bottom: "0px";
    background: "#EDFA8B";
}

.fiveCardActions {
    padding-top: 1px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fiveCardExpanded {

    padding: 8px;
    font-size: larger;
    line-height: 2rem;
    background: "#EDFA8B";
    box-shadow: "5px 5px 5px 0px rgba(0,0,0,0.5)";
}

.modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

