.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0%;
    font-size: small;
}


p {
    margin: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.fiveCard {
    min-width: 255px;
    max-width: 400px;
    padding: 4px;
    line-height: 1.5rem;
}

.fiveCardExpanded {
    min-width: 350px;
    max-width: 500px;
    padding: 8px;
    font-size: larger;
    line-height: 2rem;
}

.modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

