@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('@fontsource/bebas-neue/latin-400.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Bebas Neue, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

dialog {
  max-width: '100vw';
  max-height: '100vh';
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(3px);
}